body {
    background: url("../img/background_comun.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* TITULO */
h2 {
    text-align: center;
    margin-top: 140px;
    margin-bottom: 20px;
    color: #3a2e08;
}

/* TABLA */
#tabla-usuarios {
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
    overflow: hidden;
}

/* BOTONES */
#tabla-usuarios button {
    padding: .4rem .9rem;
    font-size: .9rem;
}

/* RESPONSIVE */
@media (max-width:600px){
    #tabla-usuarios {
        width: 95%;
        font-size: .8rem;
    }
}
