/* FONDO */
body {
    background: url("../img/background-index.png") no-repeat center center fixed;
    background-size: cover;
}

/* CONTENEDOR GENERAl */
.login-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    margin-top: 140px;
}

/* FORMULARIOS */
.container-form {
    width: 380px;
}

.create-account {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* INPUTS */
.formulario input {
    font-size: 1rem;
    text-align: center;
}

/* BOTON */
.formulario button {
    margin-top: 1.2rem;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .login-wrapper {
        justify-content: center;
        padding-right: 0;
    }

    .container-form {
        width: 90%;
    }
}

