body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.hero-section {
  background-image: url('https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?w=900&t=st=1697252118~exp=1697252718~hmac=c828b4d3b79a4f8c77d76ef1d503fd6b1666bcb1e7b4434ad3dbaffaaadc84ff');
  background-size: cover;       /* Covers the container */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeat */
  background-attachment: fixed; /* Fixes image to viewport */
  padding: 100px 20px;          /* Padding to test image coverage */
  text-align: center;
  position: relative;
}


.overlay {
  background-color: rgba(255, 255, 255, 0.8); /* White with opacity */
  padding: 60px 20px;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 8px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #555;
}

button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #f89615;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}
