/* ---- Estilos basicos ---------------------------------------------------- */
html, body {
    margin: 0;
    padding: 0;
    background: #F2F5FE url("../imagenes/fondo.gif") no-repeat;
    font: 70% Verdana, sans-serif;
}

body {
    width: 760px;
    margin: 30px auto;
    color: #192666;
    border: #fff 10px solid;
    border-top: 0px;
}

a {
    color: #192666;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* ---- Cabecera ----------------------------------------------------------- */
header {
    background: url("../imagenes/cabecera.jpg") no-repeat top center;
    height: 90px;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0 0;
    position: relative;
}

header .h1 a {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    top: 25px;
    left: 25px;
}

header form {
    position: absolute;
    right: 20px;
    top: 20px;
}

header input[type="text"] {
    border: 1px solid #bfd0ff;
    padding: 4px;
}

header input[type="submit"] {
    background: #bfd0ff;
    border: 1px solid #7a96e5;
    padding: 4px 7px;
}

/* ---- Menu --------------------------------------------------------------- */
nav {
    background: #1e3c7b;
    height: 28px;
    line-height: 28px;
    padding-left: 12px;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    float: left;
}

nav a {
    color: white;
    padding: 0 15px;
    display: block;
    height: 28px;
    font-weight: bold;
    font-size: 11px;
}

nav a:hover {
    background: white;
    color: #fa8806;
}

/* ------------------ CONTENIDO ------------------ */
#contenido {
    display: flex;
    align-items: flex-start;
}

#contenido .info {
    width: 510px;
    margin-bottom: 1px;
    background: url("../imagenes/fondo_articulo.jpg") no-repeat;
    padding: 20px;
    margin-right: 10px;
    display: block;
}

#contenido .info h2 {
    background: #bfd0ff;
    color: #1e3c7b;
    font-size: 1.3em;
    padding: 10px ;
    text-decoration: underline;
}

#contenido .info h2 a {
    color: #1e3c7b;
    font-size: 1.3em;
    text-decoration: none;
    display: block;
}

.icono {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

/* ---- Aside ---------------------------------------------------------------- */
aside {
    background: url("../imagenes/fondo_columna.gif") no-repeat;
    width: 220px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

aside img {
    width: 70px;
    float: left;
}

aside p {
    font-size: 10px;
    text-align: left;
}
aside a{
    font-size: 10px;
    text-align: left;
    text-decoration: underline;
}

aside h3 {
    margin-top: 15px;
    background: #bfd0ff;
    padding: 10px;
    font-size: 10px;
    color: #192666;
    text-decoration: underline;
}

aside ul {
    list-style: none;
    padding-left: 0;
}

aside li {
    margin: 6px 0;
}

aside li a {
    padding-left: 15px;
    background: url("../imagenes/icono_elemento.gif") no-repeat;
    display: block;
}

aside li a:hover {
    background: #bfd0ff url("../imagenes/icono_elemento_seleccionado.gif") no-repeat;
}

/* ---- Pie ---------------------------------------------------------------- */
footer {
    background: url("../imagenes/fondo_pie.jpg") no-repeat;
    padding: 15px;
    font-size: 10px;
    height: 80px;
    box-sizing: border-box;
    text-align: left;
}




















