* {
    font-family: Arial, Helvetica, sans-serif
}

.menu {
    width: 140px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #FFC83D;
}

li {
    max-width: auto;
    text-align: center;
    padding: 5px;
    background-color: #E5F3FE;
    border: 1px solid #FFC83D;
}

li a {
    text-decoration: none;
    color: #333;
}

a::before {
    content: "👉 ";
}

li:last-child {
    border-bottom: none;
}