header {
    background-color: #333;
    color: #ff3986;
    padding: 10px 0;
    text-align: center;
}

h2{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    color:#ff3986
}

nav {
    margin-bottom: 20px;
    list-style: none;
}

nav a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


footer {
    background-color: #333;
    color: #ff3986;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}