body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
nav{
    background-color: #444;
    color: #fff;
    padding: 10px;
}
nav ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    text-align: 0;
}
nav li{
    display: inline-block;
    margin: 0 15;
}
nav a{
    color:#fff;
    text-decoration: none;
}
main{
    padding: 20px;
    max-width: 80%;
    width: 20%;
    float:left
}
section{
    display: block;
    margin-right: 20px;
}
aside{
    float: left;
    width: 20%;
    background-color: #eee;
    padding: 20px;
    overflow: hidden;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    clear:both;
}
footer div{
    display: block;
    float: left;
    width: 25%;
    padding: 20px;
    margin-right: 20px;
}
@media screen and(max-width: 600px){
    nav li{
        display: block;
        margin-right: 0;
    }
    main, section, aside, footer div{
        width: 100%;
        float: none;
        margin-right: 0;
    }
}